.content-panel {
    padding: 10px;
    background-color:#fff;
    height: 100%;
    text-align: left;
    .item-wrapper {
        border:1px dotted rgb(59, 29, 226);
        padding: 2px;
        margin-top: 2px;
    }
}